.card {
  display: flex;

  position: relative;
  min-width: min(100%, 280px);

  border-radius: var(--radius);
  padding: var(--s1) var(--s2);
  height: 160px;

  background-color: var(--accent);
  color: var(--bg);

  cursor: pointer;
}

.card > img {
  object-fit: contain;
  filter: drop-shadow(1.2px 1.2px) drop-shadow(-1.2px 1.2px)
    drop-shadow(1.2px -1.2px) drop-shadow(-1.2px -1.2px) drop-shadow(0px 1.2px)
    drop-shadow(0px -1.2px) drop-shadow(1.2px 0) drop-shadow(-1.2px 0);
}

.reduce-lr {
  margin-left: -20px;
  margin-right: -20px;
}

.reduce-top {
  margin-top: -10px;
}

.go {
  position: absolute;
  right: var(--s2);
  bottom: var(--s1);
}
