.card {
  display: flex;
  gap: var(--s2);
  align-items: flex-start;

  position: relative;
  min-width: min(100%, 280px);

  border-radius: var(--radius);
  padding: var(--s2) var(--s2);
  block-size: 160px;

  background-color: var(--accent);
  color: var(--bg);

  cursor: pointer;
}

.card > img,
.popup-cocktail > img {
  filter: drop-shadow(2px 2px) drop-shadow(-2px 2px) drop-shadow(2px -2px)
    drop-shadow(-2px -2px);
  border-radius: 50%;
  block-size: 100%;
  inline-size: auto;
}

.popup-cocktail > img {
  max-block-size: min(160px, 30vw);
  inline-size: auto;
}

.go {
  position: absolute;
  inset-inline-end: var(--s2);
  inset-block-end: var(--s1);
}

.popup-cocktail {
  inline-size: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--s3);
  min-inline-size: 30vw;
  align-items: flex-start;
}

.popup-cocktail-detail > label {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-block-end: var(--s0);
}

.popup-cocktail-detail > label + * {
  margin-block-end: var(--s1);
}

.popup-ingredients {
	inline-size: 100%;
  display: grid;
	grid-auto-columns: auto;
  padding-inline-start: 0;
  list-style-position: inside;
  margin-block: 0;
  white-space: nowrap;
}

.popup-ingredients > li {
  inline-size: fit-content;
}

.popup-cocktail-actions {
  inline-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  align-self: end;
  margin-inline-end: calc(-1 * var(--s3));
}
