dialog {
  position: absolute;

  padding: 0;

  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
  transform: scale(0.1);

  border-width: 0;
  border-radius: var(--radius);

  color: var(--bg);
  background-color: var(--accent1);
}

dialog.animate {
  transition-timing-function: ease-out;
  transform: scale(1);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

dialog > div {
  inline-size: 100%;
  block-size: 100%;
  padding: var(--s2) 10%;

	inline-size: 600px;
	max-inline-size: min(600px, 90vw);

  display: flex;
	gap: var(--s3);
  flex-direction: column;
  align-items: center;
}

dialog .close {
  position: absolute;
  padding: var(--s2);
  inset-block-start: var(--s0);
  inset-inline-end: var(--s0);
  cursor: pointer;
}

dialog h1 {
	text-align: center;
	margin-inline: var(--s3);
}

dialog * {
  user-select: none;
}
