.filter {
  display: flex;

  white-space: nowrap;
  align-items: center;
  margin: 0 calc(-1 * var(--s0));
  margin-bottom: var(--s2);
}

.filter > .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
	flex-grow: 1;
  block-size: 48px;
  overflow: hidden;
}

@media (max-width: 480px) {
	.filter {
		flex-wrap: wrap;
	}

  .more-filters {
    margin-inline-start: auto;
  }
}

.alcohol {
  margin-inline-end: var(--s3);
}

.more-filters {
  padding: var(--s1);
  cursor: pointer;
}

.search {
  padding: var(--s1);
  cursor: pointer;
}
