header {
  --bg: #202020;

  padding: var(--s1) var(--s3);

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--s1);

  white-space: nowrap;
  background-color: var(--bg);
}

@media (max-width: 860px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
  }

  header > * {
    margin-bottom: var(--s0);
  }

  .left {
    display: none;
  }
}

header > * {
  display: flex;
  flex: 1;
  justify-content: center;
}

header > .left > * {
  margin-right: auto;
}

header > .center {
  flex: 1.5;
}

header > .right > * {
  margin-left: auto;
}

.nickname {
  font-size: x-large;
}

.register {
  font-size: x-large;
  padding: var(--s0) var(--s1);
  margin-right: calc(-1 * var(--s1));
  border-radius: var(--border);
  cursor: pointer;
}
