header {
  --bg: #202020;

  padding: var(--s1) var(--s3);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--s1);

  white-space: nowrap;
	color: var(--fg);
  background-color: var(--bg);
}

header > * {
  flex: 1;
}

.title {
	user-select: none;
}

@media (max-width: 860px) {
  header {
    flex-direction: column-reverse;
  }

  .title {
    display: none;
  }
}

.userinfo {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.userinfo > * {
  padding: var(--s0) var(--s1);
  margin-inline: calc(-1 * var(--s1));
}

.register {
  cursor: pointer;
  animation: 0.5s horizontal-shaking 2;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

