:root {
  --dark: #06090a;
  --light: #fffffb;

  --bg: var(--dark);
  --fg: var(--light);
  --accent1: #daf05c;
  --accent2: #a0c7dd;

  --error: #e04231;

  --s0: 4px;
  --s1: 12px;
  --s2: 20px;
  --s3: 32px;
  --s4: 64px;

  --border: 4px;
  --radius: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--fg);
}

#root {
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img {
  object-fit: contain;
  max-inline-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.colors-minimal {
  --fg: var(--dark);
  --bg: var(--accent);
}

.colors-error {
  --fg: var(--dark);
  --bg: var(--error);
  --accent: var(--error);
}

.no-accent {
  --accent: var(--fg);
}

.accent-error {
  --accent: var(--error);
}

.accent1 {
  --accent: var(--accent1);
}

.accent2 {
  --accent: var(--accent2);
}

h1,
h2,
h3 {
  margin: 0;
}

.radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: var(--s0);
  cursor: pointer;
  border: none;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio-group > label {
  padding: var(--s1);
  cursor: inherit;
  border-width: var(--border) 0;
  border-style: solid;
  border-color: var(--accent);
}

.radio-group > label:first-of-type {
  border-left-width: var(--border);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.radio-group > label:last-of-type {
  border-right-width: var(--border);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.radio-group > input:checked + label {
  background-color: var(--accent);
  color: var(--bg);
}

.toggle-button {
  display: inline;
  margin: var(--s0);
  cursor: pointer;
}

.toggle-button > label {
  display: block;
  padding: var(--s0) var(--s1);
  border: var(--border) solid var(--accent);
  border-radius: var(--s3);
  cursor: inherit;
}

.toggle-button > input:checked + label {
  background-color: var(--accent);
  color: var(--bg);
}

button {
  border: none;
  border-radius: var(--radius);
  padding: var(--s2);
  cursor: pointer;
  font-size: 1.2rem;
	font-weight: bold;
  color: var(--dark);
  background-color: var(--accent);
}

button.bordered {
  border: var(--s1) solid var(--dark);
}
