.orderstate {
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent1);
  padding: var(--s3);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cocktail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  color: var(--bg);
}

.cocktail > img {
  display: block;
  inline-size: 20%;
  margin-top: var(--s2);
  flex: 0 0 auto;
  filter: drop-shadow(2px 2px) drop-shadow(-2px 2px) drop-shadow(2px -2px)
    drop-shadow(-2px -2px);
	margin-inline: -2%;
}

.cocktail-info > h2 {
  font-size: 8rem;
  font-weight: 900;
}

.cocktail-info > .tags {
  font-size: 4rem;
  font-weight: 900;
}

.orderstate > .state {
  display: flex;
  flex-direction: column;
  gap: var(--s2);
  align-items: center;
  color: var(--bg);
  font-size: 2rem;
}

.progress-container {
  inline-size: 100%;
	display: flex;
	flex-direction: row;
	gap: var(--s2);
}

.progress-bar {
	flex-grow: 1;
  background-color: var(--bg);
  border-radius: var(--radius);
  padding: var(--s1);
}

.progress-meter {
  min-inline-size: calc(2 * var(--radius));
  block-size: 100%;
  min-block-size: 60px;
  background-color: var(--accent1);
  transition: inline-size 2s ease;
  border-radius: var(--radius);
}
