.orderstate {
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent1);
  padding: var(--s3);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cocktail {
  display: flex;
  flex-direction: row;

  color: var(--bg);
}

.cocktail > img {
  width: 20%;
  filter: drop-shadow(2px 2px) drop-shadow(-2px 2px) drop-shadow(2px -2px)
    drop-shadow(-2px -2px);
}

.cocktail-info > h2 {
  font-size: 7rem;
  font-weight: 900;
}

.cocktail-info > .tags {
  font-size: 4rem;
  font-weight: 900;
}

.orderstate > .state {
  display: flex;
  flex-direction: column;
  gap: var(--s2);
  align-items: center;
  color: var(--bg);
  font-size: 2rem;
}

.progress-container {
  block-size: 80px;
  inline-size: 100%;
  background-color: var(--bg);
  border-radius: var(--radius);
  padding: var(--s1);
}

.progress-bar {
  min-inline-size: calc(2 * var(--radius));
  block-size: 100%;
  background-color: var(--accent1);
  transition: width 2s ease;
  border-radius: var(--radius);
}
